.game-button {
  border-radius: 200px;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.game-button.pedra {
  border: 16px solid #27ae60;
  box-sizing: border-box;
}
.game-button.papel {
  border: 16px solid #f1c40f;
  box-sizing: border-box;
}
.game-button.tesoura {
  border: 16px solid #2980b9;
  box-sizing: border-box;
}
